* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: rgba(3, 54, 50, 0.775);
    font-size: 1.2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 5px solid;
    border-color: rgba(1, 24, 22, 0.87);
}

.nav-container {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.5vw;
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    background-color: rgba(3, 54, 50, 0.822);
    border-bottom: solid;
    border-radius: 0 0 20px 20px;
    border-color: rgba(3, 54, 50, 0.822);
}

.nav-item {
    border: 5px solid rgba(18, 22, 62, 0.677);
    border-radius: 18px;
    padding: 10px;
    background-color: rgba(18, 22, 62, 0.563);
}

.nav-container a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.605);
    font-weight: bold;
}

.nav-container a:hover {
    background-color: rgb(18, 22, 62);
}

a {
    text-decoration: none;
    color: black;
}

.first-header {
    text-align: center;
    font-weight: bolder;
    font-size: 5rem;
    color: rgb(3, 54, 50);
    text-decoration: underline;
}

footer {
    text-align: center;
}

.defaultLinks {
    margin: 5px;
}

.defaultLinks a {
    border: 3px solid;
    padding: 2px;
    margin: 2px;
    border-radius: 5px;
    background-color: rgba(3, 54, 50, 0.415);
    border-color: rgba(255, 255, 255, 0.238);
}

.defaultLinks a:hover {
    font-weight: bold;
}

.pictures {
    display: flex;
    justify-content: flex-start;
}

.pictures img {
    width: 200px;
    margin-left: 5px;
    margin-right: 5px;
    border: 3px solid rgba(255, 255, 255, 0.238);
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
}

.timetable {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.238);
    border-radius: 5px;
}

.timetable th {
    background-color: rgba(3, 54, 50, 0.415);
    padding: 3px;
    border: 2px double black;
}

.timetable td {
    border-bottom: 2px solid black;
    padding-bottom: 3px;
    margin-left: 3px;
    margin-right: 3px;
}

.recipe {
    margin: 10px;
    padding: 30px;
    background-color: rgba(3, 54, 50, 0.415);
    border-radius: 20px;
}

iframe {
    width: 100%;
    padding: 10px;
}

form {
    margin: 10px;
    padding: 10px;
    background-color: rgba(3, 54, 50, 0.415);
    border-radius: 20px;
}

label {
    font-weight: lighter;
}

.img-grid img {
    width: 100%;
    opacity: 0.2;
    transition: opacity 0.3s ease;
}

.img-grid {
    padding: 1rem;
    width: 100%;
    height: 100%;
    border: 3px solid black;
    display: grid;
    grid-template-columns: repeat(4, 1fr 2fr);
    grid-template-rows: 2fr 1fr;
    gap: 0.5rem;
    align-items: stretch;
}

.img-grid img:hover {
    opacity: 1;
}