* {
    padding: 0;
    margin: 0;
}

.topHead {
    text-align: center;
    font-size: 80px;
    font-weight: 900;
    margin-bottom: 100px;
    text-decoration: underline;
    color: rgb(72, 10, 215);
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgba(13, 69, 69, 0.411);
    border: solid;
    border-color: rgba(120, 64, 172, 0.473);
    padding: 50px;
    margin: 70px;
}

.navigation {
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;
}

.nav1 {
    border: solid;
    border-color: rgba(120, 62, 175, 0.729);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 25px;
    border-width: 3px;
}

.nav2 {
    border: solid;
    border-color: rgba(120, 62, 175, 0.729);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 25px;
    border-width: 3px;
    background-color: rgba(120, 62, 175, 0.451);
}

.nav3 {
    border: solid;
    border-color: rgba(120, 62, 175, 0.729);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 25px;
    border-width: 3px;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.navbar {
    border: solid;
    font-weight: 400;
    font-size: 10px;
}

div {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

td {
    padding: 10px;
}

.productImages {
    width: 200px;
    border: solid;
    border-color: grey;
    background-color: rgba(13, 69, 69, 0.581);
    transition: 0,3s ease;
    margin-top: 9px;
    margin-left: 9px;
    margin-right: 9px;
}

.productImages:hover {
    transform: scale(1.05);
}

.productPresentation {
    background-color: rgba(13, 69, 69, 0.362);
    border-radius: 4px;
}

.selected {
    background-color: rgba(13, 69, 69, 0.362);
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;
    font-weight: 600;
}

.productImages td{
    margin: 0;
    padding-bottom: 20px;
    padding-top: 20px;
    border-collapse: collapse;
    width: max-content;
    
}